absl-py
astunparse
attrs
beautifulsoup4
blinker
carla
certifi
cffi
charset-normalizer
click
colorama
comtypes
contourpy
cycler
deepface
dlib
filelock
fire
Flask
flask-cors
flatbuffers
fonttools
gast
gdown
google-pasta
grpcio
gunicorn
h5py
idna
imutils
itsdangerous
jax
jaxlib
Jinja2
joblib
keras
kiwisolver
libclang
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
ml_dtypes
mtcnn
namex
numpy
opencv-contrib-python
opencv-python
opt_einsum
optree
packaging
pandas
pillow
protobuf
PyAudio
pycparser
Pygments
pyparsing
PySocks
python-dateutil
pyttsx3
pytz
pywin32
requests
retina-face
rich
scipy
six
sounddevice
soupsieve
SpeechRecognition
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
tf_keras
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
